@use "../../global" as *;
@use "@angular/material" as mat;

.page-container {
  display: flex;
  flex-direction: column;
  gap: $medium-gap;
}

.filter-container {
  display: flex;
  gap: $small-gap;
  
  .mat-mdc-form-field {
    @include mat.all-component-densities(-3);
  }

  @media (max-width: 599px) {
    flex-direction: column;

    .mat-mdc-form-field {
      width: 100%;
    }
  }
}

.table-container {
  border-radius: $default-border-radius;
  overflow: hidden;

  .mat-mdc-row {
    cursor: pointer;

    td {
      width: 50%;
    }
    
    &:hover {
      background-color: $light-blue;
    }
  }

  .mat-mdc-no-data-row {
    .spinner-container {
      display: flex;
      justify-content: center;

      .mat-mdc-progress-spinner {
        margin: 100px;
      }
    }

    .table-message {
      display: flex;
      justify-content: center;
      width: 100%;
      
      color: $gray;
    }
  }
}
