@use "../../global" as *;

.mat-mdc-table {
    border-radius: $default-border-radius;
    overflow: hidden;
}

.mat-mdc-row {
    cursor: pointer;

    &:hover {
        background-color: $light-blue;
    }
  }