@use "../../global" as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 4px;
  margin-bottom: $medium-gap;

  * {
    color: $gray;
    text-decoration: none;
  }

  .skeleton {
    height: 24px;
    width: 120px;
  }
}

.mat-mdc-card {
  display: flex;
  flex-direction: row;
  gap: $xl-gap;
  padding: $large-gap;
  border-radius: $default-border-radius;

  @media (max-width: 599px) {
    padding: $small-gap;
  }

  @media (max-width: 960px) {
    flex-direction: column;
  }
}

.coin-details {
  display: flex;
  flex-direction: column;
  gap: $medium-gap;

  @media (min-width: 961px) {
    width: 260px;
    max-width: 260px;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $medium-gap;

    img {
      height: 80px;
    }

    .coin-name {
      display: flex;
      flex-direction: column;
      gap: $xxs-gap;
      text-align: right;

      .name {
        font-size: $subheading-size;
        font-weight: bold;
      }

      .symbol {
        color: $gray;
      }
    }

    .skeleton {
      height: 80px;
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    gap: $medium-gap;

    .coin-detail {
      color: $gray;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: $body2-text-size;
      gap: $small-gap;

      .header {
        display: flex;
        align-items: center;
        gap: $small-gap;
        background-color: $light-blue;
        padding: $xxs-gap;
        border-radius: $default-border-radius;
      }

      .categories {
        display: flex;
        flex-wrap: wrap;
        column-gap: $small-gap;
        row-gap: $xxs-gap;
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: $xxs-gap;
        max-width: 260px;

        a {
          color: $gray;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .skeleton {
      height: 32px;
      width: 100%;
    }
  }
}

.price-chart-container {
  flex: 1;
  overflow: hidden;

  .skeleton {
    height: 100%;
    width: 100%;
  }

  .no-data-message {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      color: $gray;
    }
  }
}

.error-message {
  display: flex;
  justify-content: center;
  width: 100%;
  color: $gray;
}
