// Reusable variables

// Gaps for margins, paddings, flex and grid gaps
$xxsGap: 4px;
$xsGap: 8px;
$smallGap: 12px;
$mediumGap: 20px;
$largeGap: 32px;
$xlGap: 52px;

// Colors
$primaryBlue: #3d5e9a;
$secondaryBlue: #5e7ebb;
$lightBlue: #e7ecf5;
$white: #ffffff;